.audioPlayer {
  --primary: #f9ed69;
  --secondary: #00adb5;

  display: flex;
  width: 700px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.controls {
  display: flex;
  align-items: center;
}

.times {
  display: flex;
  align-items: center;
  gap: 4px;
}

.forwardBackward {
  background: none;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.35s ease-in-out;
}

.forwardBackward:hover {
  color: var(--primary);
}

.playPause {
  background-color: var(--secondary);
  margin-left: 4px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  transition: all 0.35s ease-in-out;
}

.playPause:hover {
  background-color: var(--primary);
}

.currentTime,
.duration {
  font-size: 16px;
}

.currentTime {
  margin-left: 20px;
}

.duration {
  margin-left: 3px;
}

.progressBar {
  --bar-bg: #ffc7c7;
  --seek-before-width: 0px;
  --seek-before-color: #e4a7a7;
  --knobby: var(--secondary);
  --selected-knobby: var(--primary);

  appearance: none;
  background-color: var(--bar-bg);
  border-radius: 15px;
  position: relative;
  width: 100%;
  height: 11px;
  margin-top: 4px;
  outline: none;
  cursor: pointer;
}

/* Progress bar - Safari */
.progressBar::-webkit-slider-runnable-track {
  background-color: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* Progress bar = FireFox */
.progressBar::-moz-range-track {
  background-color: var(--bar-bg);
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* Progress bar - Chrome and Safari */
.progressBar::before {
  position: absolute;
  content: '';
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-radius: 30px;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* Progress bar - FireFox */
.progressBar::-moz-range-progress {
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-radius: 30px;
}

/*Knobby- Chrome and Safari */
.progressBar::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  background-color: var(--knobby);
  margin-top: -2.2px;
  z-index: 15;
}

.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background-color: var(--primary);
}

/*Knobby - ForeFox */
.progressBar::-moz-range-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  border: transparent;
  border-radius: 50%;
  background-color: var(--knobby);
  z-index: 15;
}

.progressBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background-color: var(--primary);
}
